.main-content-forms {
  margin-inline: 10px;
  margin-top: calc(var(--header-height) + 30px); /*height of header*/
  margin-bottom: var(--footer-height); /*height of footer */
  padding: 3px;
  background-color: var(--secondcolorlightpink);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.lifted-shadow-section-newforms {
  background-color: var(--thirdcolorpink);
  padding: 20px;
  margin: 10px;
  display: flex;
  align-items: space-between;
  flex-direction: column;
  justify-content: left;
  position: relative;
  gap: 10px;
  box-shadow: 2px 2px 2px 2px;
}

.aboutme_title {
  padding: 10px;
  margin: 15px;
}

.aboutme-section__descriptiontext {
  padding: 20px;
  align-self: center;
  background-color: var(--secondcolorlightpink);
}

.aboutme-section__listoffavalbums {
  background-color: var(--secondcolorlightpink);
  padding-left: 20px;
  padding: 20px;
}

.aboutme-section-listoffavalbums__ol {
  background-color: var(--secondcolorlightpink);
  margin: 10px;
  padding-left: 20px;
}

.stats-section,
.settings-section {
  background-color: var(--thirdcolorpink);
  padding: 20px;
  margin: 10px;
  display: flex;
  align-items: space-between;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: 10px;
  box-shadow: 2px 2px 2px 2px;
}

.stats-section__stats-heading,
.settings-title {
  padding: 10px;
  margin: 15px;
  width: 100vw;
}

.stats-section__questionsection,
.stats-section__bookmarksection,
.settings-section__darkmode-section {
  padding: 20px;
  background-color: var(--secondcolorlightpink);
  display: flex;
}

.stats-section-questionsection__qicon,
.stats-section-bookmarksection__bicon {
  background-color: var(--secondcolorlightpink);
  padding: 10px;
  margin: 3px;
  height: 20px;
  width: 20px;
}

.stats-section-questionsection__text,
.stats-section-bookmarksection__text,
.settings-darkmode__text {
  margin: 10px;
  width: 900px;
  align-self: center;
}

.settings-darkmode-switchbutton__area {
  padding: 5px;
  margin: 5px;
  display: flex;
}

.settings-darkmode-switchbutton__switch {
  height: 20px;
  width: 20px;
  padding: 5px;
  margin: 5px;
}

.settings-darkmode-switchbutton__span {
  height: 20px;
  width: 20px;
  padding: 5px;
  margin: 5px;
}
