.main-content-forms {
  margin-inline: 10px;
  margin-top: calc(var(--header-height) + 30px); /*height of header*/
  margin-bottom: var(--footer-height); /*height of footer */
  padding: 3px;
  background-color: var(--secondcolorlightpink);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lifted-shadow-section-newforms {
  margin: 10px;
  border: 3px;
  background-color: var(--secondcolorlightpink);
  display: flex;
  box-sizing: border-box;
}

.lifted-shadow-section-createdquestions {
  margin: 10px;
  border: 3px;
  background-color: var(--secondcolorlightpink);
  display: flex;
  box-sizing: border-box;
  gap: 10px;
  box-shadow: 2px 2px 2px 2px;
}

.forms-fieldset {
  background-color: var(--secondcolorlightpink);
  border: 3px;
  border-radius: 20px;
  margin: 25px;
  padding: 10px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 1px 1px 5px;
}

.forms__your-question-instruction {
  padding: 10px;
  margin: 3px;
  border-radius: 10px;
  gap: 5px;
  border: 1px black;
  background-color: var(--firstinteractivecolorlightblue);
  width: 400px;
  display: flex;
  justify-content: center;
  box-shadow: 2px 2px 2px black;
}

.forms__text-for-input {
  align-self: left;
  font-size: var(--heading-medium-black);
  margin: 3px;
  padding: 5px;
  margin-bottom: 0px;
  color: rgb(111, 96, 120);
}

.forms__input-field {
  background-color: var(--button-color-default);
  color: var(--button-text);
  border-radius: 2px;
  border: 2px rgb(6, 64, 118);
  border: 5px;
  width: 400px;
  align-self: left;
  padding: 10px;
  margin: 5px;
  margin-top: 1px;
  font-size: var(--heading-medium-black);
  transition: all 400ms ease-in-out;
}

.forms__input-field:hover {
  background-color: var(--button-color-hover);
  color: var(--button-text);
  box-shadow: 2px 4px 5px;
}

.characters-left-text {
  color: var(--button-text);
  font-size: 10px;
  box-sizing: border-box;
  margin: 3px;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 3px;
}

.submit-button {
  box-sizing: border-box;
  background-color: var(--button-color-default);
  color: var(--button-text);
  border-radius: 2px;
  border: 2px rgb(6, 64, 118);
  width: 200px;
  align-self: center;
  padding: 10px;
  margin: 1px;
  margin-left: 30px;
  box-shadow: 2px 5px 5px;
  font-size: var(--heading-medium-black);
  transition: all 200ms ease-in-out;
}

.submit-button:hover {
  background-color: rgb(95, 167, 234);
  color: var(--secondcolorlightpink);
  box-shadow: 0 1px 1px 1px rgb(69, 69, 69);
  transform: scale(0.95);
}
