/* header on index on bookmark and profile page */

.header-bar {
  background-color: darksalmon;
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-shadow: 0px 10px 20px black;
}

.header-title {
  background-color: darksalmon;
  color: azure;
  font-size: 30px;
}
