footer {
  background-color: darksalmon;
  margin: auto;
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100vw;
}

.navbar {
  background-color: blanchedalmond;
  margin: 5px;
  padding: 5px;
  z-index: 4;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.navbar-item {
  padding: 10px;
  gap: 5px;
  border: 1px black;
  background-color: darksalmon;
  width: 300px;
  display: flex;
  justify-content: center;
}
