/* :root {
  /* colors in all of the quiz app */
  --normal-text-color: black;
  --textcolor-header-navbar: white;

  --heading-big-dark: black;
  --heading-big-light: white;
  --heading-medium-dark: black;
  --heading-medium-light: white;

  --text-descriptive-dark: black;
  --text-descriptive-light: white;

  /* text font sizes and family */
  --normal-text-size: 10px;
  --textsize-header-navbar: 30px;
  --heading-big-size: 18px;
  --heading-medium-size: 14px;
  --textsize-descriptive: 10px italic;

  /* units */
  --gap: 15px;
} */
