:root {
  /* colors in all of the quiz app */
  /* backgroundcolors */
  --primarycolorlila: rgb(205, 180, 219);
  --secondcolorlightpink: rgb(255, 200, 221);
  --thirdcolorpink: rgb(255, 175, 204);
  --firstinteractivecolorlightblue: rgb(189, 224, 254);
  --secondinteractivecolorstrongblue: rgb(162, 210, 255);
  --thirdinteractivecolordarkblue: rgb(6, 64, 118);

  /* buttons and bookmarks styles */
  --button-color-default: var(--secondinteractivecolorstrongblue);
  --button-color-hover: var(--firstinteractivecolorlightblue);
  --button-text: rgb(111, 96, 120);

  /* text font sizes and colors and styles*/
  --heading-big-black: 20px rgb(69, 69, 69);
  --heading-medium-black: 14px rgb(69, 69, 69);
  --normal-textblock: 10px rgb(69, 69, 69);
  --tagtextstyle: 10px whitesmoke;

  /* measurements for main content of each page */
  --header-height: 60px;
  --footer-height: 75px;
  --gap: 10px;
}
