@import "https://charis-amend.github.io/charis-quiz-app/global.css";
@import "https://charis-amend.github.io/charis-quiz-app/css/button.css";
@import "https://charis-amend.github.io/charis-quiz-app/css/card.css";
@import "https://charis-amend.github.io/charis-quiz-app/css/header.css";
@import "/css/navbar.css";
@import "/css/profile.css";

* {
  /* margin: 0; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--yellowbackground);
}
.main-content {
  margin-inline: 10px;
  margin-top: calc(var(--header-height) + 20px); /*height of header*/
  margin-bottom: 75px; /*height of footer */
  padding: 3px;
  background-color: var(--whitebackground);
  display: flex;
  justify-content: center;
}

.all-questioncards-section {
  margin: 10px;
  border: 3px;
  background-color: var(--whitebackground);
}
